<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin </title>
</head>
<body>

<nav class="navbar navbar-dark  bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
        <span>User "</span>
        <span th:text="${user.name}"></span><span>" with role </span><span th:text="${user.role}"></span>
    </a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/logout}">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid ">
    <div class="row min-vh-100">
        <div class="col-3" style="background-color: white">
            <nav>
                <div class="nav nav-pills flex-column mt-3" id="nav-tab-p" role="tablist">
                    <a  class="nav-item nav-link active " id="nav-home-tab-p" data-toggle="tab" href="#nav-home-p"
                        role="tab" aria-controls="nav-home" aria-selected="true">
                        Admin
                    </a>
                    <a sec:authorize="hasAnyAuthority('ROLE_USER')" class="nav-item nav-link  " id="nav-profile-tab-p" data-toggle="tab" href="#nav-profile-p" role="tab"
                       aria-controls="nav-profile" aria-selected="false">
                        User
                    </a>
                </div>
            </nav>

        </div>
        <div class="col mt-3">
            <div class="tab-content" id="nav-tabContent-p">
                <div class="tab-pane fade show active " id="nav-home-p" role="tabpanel"
                     aria-labelledby="nav-home-tab-p">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active border" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                               role="tab" aria-controls="nav-home" aria-selected="true">
                                Users table
                            </a>
                            <a class="nav-item nav-link  border" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                               aria-controls="nav-profile" aria-selected="false">
                                Add new user
                            </a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active border rounded" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <div class="container ">
                                <div class="row border rounded" style="height: 50px">
                                    <div class="d-flex align-items-center ml-4" style="font-size: 30px">
                                        All users
                                    </div>
                                </div>
                                <div class="row" style="background-color: white">
                                    <div class="container m-3">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>login</th>
                                                <th>password</th>
                                                <th>roles</th>
                                                <th>edit</th>
                                                <th>delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="entry: ${users}">
                                                <td th:text="${entry.id}" />
                                                <td th:text="${entry.name}" />
                                                <td th:text="${entry.password}" />
                                                <td th:text="${entry.role}" />

                                                <td>
                                                    <button th:value="${entry.id}" type="button" class="btn btn-info" data-toggle="modal" th:data-target="'#modalEdit'+${entry.id}" name="id">
                                                        edit
                                                    </button>
                                                </td>
                                                <td>
                                                    <button th:value="${entry.id}" type="button" class="btn btn-danger" data-toggle="modal" th:data-target="'#modalDelete'+${entry.id}" name="id">
                                                        delete
                                                    </button>
                                                </td>

                                            </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade border rounded" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="container ">
                                <div class="row border rounded" style="height: 50px">
                                    <div class="d-flex align-items-center ml-4" style="font-size: 30px">
                                        Add new user
                                    </div>
                                </div>
                                <div class="row border rounded " style="background-color: white">
                                    <div class="container m-3">
                                        <div class="row justify-content-center">
                                            <div class="col-4">
                                                <form th:action="@{/admin/add}" method="post">
                                                    <div class="form-group">
                                                        <label for="name">Login</label>
                                                        <input type="text" class="form-control" id="name" name="name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="password">password</label>
                                                        <input type="text" class="form-control" id="password" name="password">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="roles">roles</label>
                                                        <select class="custom-select" name="roleIds" th:size="${roles.size()}" multiple>
                                                            <option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.role}"></option>
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="btn btn-success">Add New User</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div sec:authorize="hasAnyAuthority('ROLE_USER')" class="tab-pane fade  " id="nav-profile-p" role="tabpanel" aria-labelledby="nav-profile-tab-p">
                    <div class="container ">
                        <div class="row" style="height: 100px">
                            <div class="d-flex align-items-center ml-4" style="font-size: 60px">
                                User information page
                            </div>
                        </div>
                        <div class="row border rounded" style="height: 50px">
                            <div class="d-flex align-items-center ml-4" style="font-size: 30px">
                                About user
                            </div>
                        </div>
                        <div class="row" style="background-color: white">
                            <div class="container m-3">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>password</th>
                                        <th>roles</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${user.name}" />
                                        <td th:text="${user.password}" />
                                        <td th:text="${user.role}" />
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--<editor-fold desc="modal edit">-->
<div th:each="entry: ${users}" class="modal fade" th:id="'modalEdit'+${entry.id}" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col">
                            <form th:action="@{/admin/edit}" method="post" name="id" th:value="${entry.id}" th:id="'user'+${entry.id}">
                                <div class="form-group">
                                    <label for="name">Login</label>
                                    <input type="text" class="form-control" id="name" name="name" th:value="${entry.name}">
                                </div>
                                <div class="form-group">
                                    <label for="password">password</label>
                                    <input type="text" class="form-control" id="password" name="password" th:value="${entry.password}">
                                </div>
                                <div class="form-group">
                                    <label for="roles">roles</label>
                                    <select class="custom-select" name="roleIds" th:size="${roles.size()}" multiple>
                                        <option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.role}"></option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" name="id" th:value="${entry.id}" th:form="'user'+${entry.id}">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--</editor-fold>-->

<!--<editor-fold desc="modal delete">-->
<div th:each="entry: ${users}" class="modal fade" th:id="'modalDelete'+${entry.id}" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteLabel">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col">
                            <form th:action="@{/admin/delete}" method="post" th:id="'userDelete'+${entry.id}">
                                <div class="form-group">
                                    <label for="login">Login</label>
                                    <input type="text" class="form-control" id="login" name="name" th:value="${entry.name}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="password">password</label>
                                    <input type="text" class="form-control" id="password" name="password" th:value="${entry.password}" disabled>
                                </div>
                                <div class="form-group">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" name="id" th:value="${entry.id}" th:form="'userDelete'+${entry.id}">Delete</button>
            </div>
        </div>
    </div>
</div>
<!--</editor-fold>-->



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>